@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

header,
main {
    padding-left: 240px;
}

@media only screen and (max-width : 992px) {

    header,
    main,
    footer {
        padding-left: 0;
    }
}

#navbar {
    transition: top 0.3s cubic-bezier(0.4, 0, 1, 1) 0s;
}

.navbar.navbar-dark .navbar-nav .nav-item .nav-link:hover {
    color: rgba(255, 255, 255, 0.75);
    font-weight: bold;
}

.carousel-container {
    max-height: 70vh;
}

.carousel-page-header {
    max-height: 70vh;
}

.d-block,
.w-100 {
    max-height: 70vh;
}

.card-cotainer {
    padding: 20px;
    margin-top: 40px;
}

.info-contact-container {
    max-width: 75%;
    margin: auto;
}

@media(max-width:772px) {
    .info-contact-container {
        max-width: 100%;

    }
}

/* cards */
.card-user {
    text-align: center;
    border: none;
    box-shadow: none;
}

.card-deck {
    padding: 10px;
}

.img-author {
    border-radius: 50%;
    border: solid 1px black;
    max-width: 200px;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.contact-elements {
    text-align: center;
}


.contact-phone-square,
.contact-email-square {
    background-color: #00838f29;
    padding-top: 25px;
    border-radius: 5px;
    margin: 3px;
    color: white;
    box-shadow: 0 0 3px 0.3px #888888;
    margin: 10px 10px 0px 10px;
}


.contact-phone-square:hover {
    background-color: #525252;
    color: white;
    background-color: #b3e5e9;
    color: white;
    box-shadow: 0 0 9px 2px #888888;
}

.contact-email-square:hover {
    background-color: #525252;
    color: white;
    background-color: #b3e5e9;
    color: white;
    box-shadow: 0 0 9px 2px #888888;
}

.contact-element-icon {
    text-transform: uppercase;
    color: #dadad3;
    font-size: 36px;
}

.contact-element-icon:hover {
    color: white;
}

.contact-element-icon a {
    font-weight: bold;
}

.contact-element-icon>.active>a,
.contact-element-icon>.active>a:focus,
.contact-element-icon>.active>a:hover {
    color: white;
    background: transparent;
}


.contact-body-text {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    margin: 40px;
    margin-bottom: 20px;
    font-size: 16px;
    text-align: center;
}

.contact-items-body {
    width: 100%;
    display: flex;
    padding-top: 25px;
    padding: 5px;
}

.carousel-info {
    border-radius: 15px;
    box-shadow: 0 0 3px 0.3px #888888;
    margin: 5px;
}