@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body{
    font-family: 'Roboto', sans-serif;
}

header, main {
padding-left: 240px;
}

@media only screen and (max-width : 992px) {
header, main, footer {
padding-left: 0;
}
}

.carousel-container{
    max-height: 70vh;
}

.carousel-inner{
    max-height: 70vh;
}

.carousel-item, .active{
    max-height: 70vh;
}

.d-block, .w-100{
    max-height: 70vh;
}

.card-cotainer{
    padding:20px;
    margin-top: 40px;
}

/* cards */
.card-user{
    text-align: center;
    border: none;
    box-shadow: none;
}

.img-author{
    border-radius: 50%;
    border: solid 1px black;
    max-width: 200px;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.contact-elements {
    text-align: center;
}


.contact-phone-square,
.contact-email-square {
    max-width: 48%;
    background-color: #525252;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 0px;
    padding-right: 0px;
    border-radius: 5px;
    margin: 3px;
    color: white;
}


.contact-phone-square:hover {
    background-color: #525252;
    color: white;
}

.contact-email-square:hover {
    background-color: #525252;
    color: white;
}

.contact-element-icon {
    text-transform: uppercase;
    color: #dadad3;
    font-size: 36px;
}

.contact-element-icon:hover {
    color: white;
}

.contact-element-icon a {
    font-weight: bold;
}

.contact-element-icon>.active>a,
.contact-element-icon>.active>a:focus,
.contact-element-icon>.active>a:hover {
    color: white;
    background: transparent;
}


.contact-body-text {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    margin: 40px;
    margin-bottom: 20px;
    font-size: 16px;
    text-align: center;
}

.contact-items-body {
    width: 100%;
    display: flex;
    padding-top: 25px;
    padding: 5px;
}
