@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body{
    font-family: 'Roboto', sans-serif;
}

header, main {
padding-left: 240px;
}

@media only screen and (max-width : 992px) {
header, main, footer {
padding-left: 0;
}
}

.carousel-container{
}

.card-cotainer{
    padding:20px;
    margin-top: 40px;
}

/* cards */
.card-user{
    text-align: center;
    border: none;
    box-shadow: none;
}

.img-author{
    border-radius: 50%;
    border: solid 1px black;
    max-width: 200px;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

